In [1]:
import pandas as pd
import string
import nltk
from nltk.corpus import stopwords
from nltk.tokenize import word_tokenize

In [2]:
df = pd.read_csv("../data/True.csv")
df_fake = pd.read_csv("../data/Fake.csv")

df["label"] = 1
df_fake["label"] = 0

df = pd.concat([df, df_fake]).sample(frac=1).reset_index(drop=True)

In [3]:
def remove_punc(txt):
    return txt.translate(str.maketrans('', '', string.punctuation))

def remove_num(txt):
    return ''.join([i for i in txt if not i.isdigit()])

def remove_emoji(txt):
    return ''.join([i for i in txt if i.isascii()])

In [4]:
df["title"] = df["title"].astype(str).apply(remove_num).apply(remove_punc).apply(remove_emoji)
df["text"] = df["text"].astype(str).apply(remove_num).apply(remove_punc).apply(remove_emoji)

In [5]:
nltk.download("punkt")
nltk.download("stopwords")

stop_words = set(stopwords.words("english"))

def remove_stopwords(txt):
    words = word_tokenize(txt)
    return " ".join([w for w in words if w not in stop_words])

df["title"] = df["title"].apply(remove_stopwords)
df["text"] = df["text"].apply(remove_stopwords)

[nltk_data] Downloading package punkt to
[nltk_data]     C:\Users\welcome\AppData\Roaming\nltk_data...
[nltk_data]   Package punkt is already up-to-date!
[nltk_data] Downloading package stopwords to
[nltk_data]     C:\Users\welcome\AppData\Roaming\nltk_data...
[nltk_data]   Package stopwords is already up-to-date!

In [6]:
df["content"] = df["title"] + " " + df["text"]
df[["content", "label"]].head()

                                             content  label
0  FURIOUS FBI Agents Speak Out On Clinton Email ...      0
1  ExCatalan leader Puigdemont freed conditions B...      1
2  Woman charged trying scale Buckingham Palace g...      1
3  Inside Trumps lastgasp effort save Senate heal...      1
4  DINGBAT DEMOCRAT Maxine Waters Hopes Trump Won...      0